.filter{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.div-collection{
    flex: 20;
    font-size: 18px;
    padding: 2px;
    margin-bottom: 0;
    font-weight: bold;
   color: rgb(110, 142, 231);

}
.div-filters{
    flex: 1;
    text-align: center;
}
.div-reset{
    flex: 1;
    text-align: center;
}
.div-reset button{
    background-color: #e0e5ec;

    /*background-color: rgb(110, 142, 231);*/
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.div-filters button{
    /*background-color: rgb(110, 142, 231);*/
    background-color: #e0e5ec;

    border-radius: 5px;
    cursor: pointer;
    border: none;
}
