.grid-list {
  display: block;
  grid-gap: 1rem;
  margin: 1rem;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  display: none;
}
.collection {
  margin-top: 1rem;
  background-color: ghostwhite;
  border-radius: 20px;
}
.category-title {
  padding-top: 10px;
  padding-left: 10px;
  color: blue;
  }
