.grid-list {
  display: block;
  grid-gap: 1rem;
  margin: 1rem;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  display: none;
}
.collection {
  margin-top: 1rem;
  background-color:ghostwhite;
  border-radius: 20px;
}
