.list {
    background-color: #fffefe;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .list-header {
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  
  .list-header-checkbox {
    width: 20px;
  }
  
  .list-header-owner {
    flex: 6;
  }
  
  .list-header-item {
    flex: 2;
  }
  
  .list-item {
    display: flex;
    align-items: center;
  }
  
  .list-item-checkbox {
    width: 20px;
  }
  
  .list-item-owner {
    flex: 6;
  }
  
  .list-item {
    flex: 2;
    margin:5px 0 5px 0;
  }
  input[type="checkbox"] {
    margin: 0;
    vertical-align: middle;
  }
  