.list {
    background-color: #fffefe;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .list-header {
    display: flex;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  }
  
  .list-header-checkbox {
    width: 20px;
    margin-bottom: 3px;
  }
  
  
  .list-header-name {
    flex: 4;
  }
  
  .list-header-date {
    flex: 2;
  }
  
  .list-header-price {
    flex: 2;
  }
  
  .list-item {
    display: flex;
    align-items: center;
  }
  
  .list-item-checkbox  {
    margin-bottom: 6px;
  }
  
  .list-item-name {
    flex: 4;
  }
  
  .list-item-date {
    flex: 2;
  }
  
  .list-item-price {
    flex: 2;
    margin-block: 10px;
    }
  .list-item-date ,.list-item-name ,.list-item-price{
    font-family: 'Courier New', Courier, monospace;
  }
  input[type="checkbox"] {
    margin: 0;
    vertical-align: middle;
  }
  