.range-filter {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
  }
  .date-range {
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .date-range label {
    margin-right: 1rem;
  }
  
  .date-range input[type="date"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  .name-range {
    display: flex;
    background-color: yellow;
    flex-direction: column;

    align-items: center;
    margin-bottom: 1rem;
  }
  
  .name-range label {
    margin-right: 1rem;
  }
  
  .name-range input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  /* Price range */
  .price-range {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .price-range label {
    margin-right: 1rem;
  }
  
  .price-range input[type="range"] {
    width: 100%;
    margin-right: 1rem;
  }
  
  .price-range input[type="range"]:last-child {
    margin-right: 0;
  }
  
  .price-range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: #333;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .price-range input[type="range"]::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background-color: #333;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .price-range input[type="range"]::-ms-thumb {
    width: 1rem;
    height: 1rem;
    background-color: #333;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .price-range input[type="range"]::-webkit-slider-runnable-track {
    height: 0.25rem;
    border-radius: 0.25rem;
    background-color: #ccc;
  }
  
  .price-range input[type="range"]:focus {
    outline: none;
  }
  
  .reset-button {
    margin: auto;
    padding: 0.5rem 1rem;
    border: 2px solid #ccc;
    border-radius: 0.25rem;
    background-color: #fff;
    cursor: pointer;
  }
  
  .reset-button:hover {
    background-color: #f5f5f5;
  }
  