.buy-container{
    display: flex;
    flex-direction: row;
    margin: 10px;
    text-align: center;
    height: 40px;
    background-color: aliceblue;
    border-radius: 5px;
}

.count{
    flex: 1;
    font-size: large;
    text-align: center;
    padding: 8px 0 8px 0;
    color:blue;
}
.purchase{
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 1px;
    background-color: #769FCD;
    border:none;
}
.non-selectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }