.bar{
  width: 45%;
  height:3px;
  background-color: #769FCD;
  margin:20px 20px;
  border-radius: 5px;
}
.label{
  text-align: center;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #769FCD;
}
.custom-label{
  display: flex;
  flex-direction: row;
}